<h3>Appointment # <%= @appointment.id %></h3>
<p>Doctor_Name: <strong> <%= @appointment.doctor.name.capitalize %> </strong> </p>
<p>Patient_Name: <strong> <%= @appointment.patient.name.capitalize %> </strong> </p>
<p>Date: <strong> <%= @appointment.date %> </strong> </p>
